<div class="container-fluid">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2>우리언제봐</h2>
      </div>
      <p class="navbar-text navbar-right">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: "delete", class: "navbar-link" %>
        <% else %>
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "navbar-link" %>
        <% end %>
      </p>
    </div>
  </nav>

  <div class="row">
    <div class="bhoechie-tab-container">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
        <div class="bhoechie-tab-content active">
          <center>
            <div id="calendar"></div>
          </center>
        </div>
        <div class="bhoechie-tab-content"></div>
    <% if user_signed_in? %>
      <% current_user.user_groups.reverse_each do |x| %>
        <div class="bhoechie-tab-content">
          <% if GroupJoin.where(user_id: current_user.id, group_id: x.id).first.status == 0 %>
            <div style="float:left">
              <a type='submit' href='/accept/<%= x.id %>'>accept</a>
            </div>
          <% end %>
          <div style="float:right">
            <a type='submit' href='/destroy/<%= x.id %>'>delete</a>
          </div>
          <center>
            <div id="calendar_<%=x.id%>"></div>
            <h2><%=x.name%></h2>
          <center>
        </div>
      <% end %>
    <% end %>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">

        <div class="list-group">
          <form class="list-group-item active">
            <h4>내 시간표</h4>
          </form>
          <div class="list-group-item">
            <div style="float:right;">
              <a href="home/popup">
                <button type='submit' class='btn btn-info'>+</button> 
              </a>
            </div>
            <h4>공유 시간표</h4>
          </div>
      <% if user_signed_in? %>
        <% current_user.user_groups.reverse_each do |x| %>
          <form class="list-group-item <%=GroupJoin.where(user_id: current_user.id, group_id: x.id).first.status == 0 ? "invited" : ""%>" >
            <h2><%=x.name%></h2><br/>
            <% x.grouped_users.each do |u| %>
              <%= u.name %> 
            <% end %>
          </form>
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div id="newEventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form role="form" action="/time/save">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">새로운 일정</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" name="content" placeholder="일정 이름"></input>
          <input type="hidden" id="newEventBegins" name="begins" ></input>
          <input type="hidden" id="newEventEnds" name="ends" ></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary" >일정 추가</button>
        </div>
      </div>
    </form>
  </div>
</div>
  
<div id="removeEventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form role="form" action="/time/delete">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">일정을 삭제할까요?</h4>
        </div>
        <input type="hidden" id="removeEventId" name="id"></input>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary" >삭제</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="dataContainer" data-events="<%= @time_list %>">
</div>

<script>
  var eventsRaw = $('#dataContainer').data('events');
  var events = []
  if (eventsRaw.length > 0) {
    events = JSON.parse(eventsRaw.replace(/=>/gi, ':'));

    events.forEach(function (el) {
      begins = el['begins'];
      ends = el['ends'] + 1;

      start = moment();
      start.day(Math.floor(begins / 48));
      start.hours(Math.floor(begins % 48 / 2));
      start.minutes((begins % 2) * 30);

      end = moment();
      end.day(Math.floor(ends / 48));
      end.hours(Math.floor(ends % 48 / 2));
      end.minutes((ends % 2) * 30);

      if (end.isBefore(start))
        end.day(7);

      el['start'] = start;
      el['end'] = end;
      el['title'] = el['content'];
    });
  }
    

  $(document).ready(function() {
    $("[id^='calendar']").each(function (i, el) {
      $(el).fullCalendar({
        defaultView: 'agendaWeek',
        allDaySlot: false,
        slotDuration: '00:30:00',
        slotLabelFormat: 'H:mm',
        minTime: '07:00:00',
        columnFormat: 'ddd',
        editable: true,
        contentHeight: 'auto',
        header: false,
        editable: true,
        events: events,
        dayClick: function(date, jsEvent, view) {
          endTime = moment(date);
          endTime.hours(endTime.hours() + 1);
          openNewEventModal(date, endTime)
        },
        eventClick: function(event) {
          openRemoveEventModal(event['id']);
        },
        eventDrop: function(event) {
          editEvent(event);
        },
        eventResize: function(event) {
          editEvent(event);
        }
      });
    });
  });

  function openNewEventModal(startTime, endTime) {
    begins = encodeTime(startTime);
    ends = encodeTime(endTime) - 1;
    $('#newEventBegins').val("" + begins);
    $('#newEventEnds').val("" + ends);

    $('#newEventModal').modal({
      show: 'true'
    }); 
  }

  function openRemoveEventModal(id) {
    $('#removeEventId').val(id);

    $('#removeEventModal').modal({
      show: 'true'
    });
  }

  function editEvent(event) {
    $('<form action="/time/edit" method="GET">' + 
        '<input type="hidden" name="id" value="' + event["id"] + '">' +
        '<input type="hidden" name="begins" value="' + encodeTime(event["start"]) + '">' +
        '<input type="hidden" name="ends" value="' + (encodeTime(event["end"]) - 1) + '">' +
        '</form>')
        .appendTo($(document.body))
        .submit();
  }

  // server style time -> real world time conversion
  function decodeTime(raw) {
  }

  function encodeTime(time) {
    return time.day() * 48 + time.hours() * 2 + Math.floor(time.minutes() / 30);
  }
</script>
