<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2>우리언제봐</h2>
      </div>
      <p class="navbar-text navbar-right">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: "delete", class: "navbar-link" %>
        <% else %>
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "navbar-link" %>
        <% end %>
      </p>
    </div>
  </nav>

  <div class="row">
    <div class="bhoechie-tab-container">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
        <div class="bhoechie-tab-content active">
          <center>
            <div id="calendar"></div>
          </center>
        </div>
        <div class="bhoechie-tab-content"></div>
    <% if user_signed_in? %>
      <% current_user.user_groups.each do |x| %>
        <div class="bhoechie-tab-content">
          <center>
            <div id="calendar_<%=x.id%>"></div>
            <h2><%=x.name%></h2>
          <center>
        </div>
      <% end %>
    <% end %>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
        <div class="list-group">
          <a href="#" class="list-group-item active text-center">
            내 시간표
          </a>
          <div class="list-group-item">
            <h4>공유 시간표</h4>
          </div>
      <% if user_signed_in? %>
        <% current_user.user_groups.each do |x| %>
          <a href="#" class="list-group-item">
            <h2><%=x.name%></h2><br/>
            <% x.grouped_users.each do |u| %>
              <%= u.name %> 
            <% end %>
          </a>
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("id^='calendar'").each(function (i, el) {
      el.fullCalendar({
        defaultView: 'agendaWeek',
        allDaySlot: false,
        slotDuration: '00:30:00',
        slotLabelFormat: 'H:mm',
        minTime: '07:00:00',
        columnFormat: 'ddd',
        editable: true,
        contentHeight: 'auto',
        header: false,
        editable: true,
        dayClick: function(date, jsEvent, view) {
          alert('Clicked on: ' + date.format());
          events = [
            {
              title: 'test_event',
              start: date.format()
            }
          ];
          $('#calendar').fullCalendar('addEventSource', events);
        },
        eventRender: function(event, element) {
          delete_btn = "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>";
          element.append(delete_btn);
        }
      });
    });
  } 
</script>
