<div class="container-fluid">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2>우리언제봐</h2>
      </div>
      <p class="navbar-text navbar-right">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: "delete", class: "navbar-link" %>
        <% else %>
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "navbar-link" %>
        <% end %>
      </p>
    </div>
  </nav>

  <div class="row">
    <div class="bhoechie-tab-container">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
        <div class="bhoechie-tab-content active">
          <center>
            <div id="calendar"></div>
          </center>
        </div>
        <div class="bhoechie-tab-content"></div>
    <% if user_signed_in? %>
      <% current_user.user_groups.each do |x| %>
        <div class="bhoechie-tab-content">
          <div style="float:right">
            <a type='submit' href='/destroy/<%= x.id %>'>delete</a>
          </div>
          <center>
            <div id="calendar_<%=x.id%>"></div>
            <h2><%=x.name%></h2>
          <center>
        </div>
      <% end %>
    <% end %>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
        <div class="list-group">
          <form class="list-group-item active">
            <h4>내 시간표</h4>
          </form>
          <div class="list-group-item">
            <h4>공유 시간표</h4>
          </div>
      <% if user_signed_in? %>
        <% current_user.user_groups.each do |x| %>
          <form action="destroy/<%=x.id%>" data-post_id="<%=x.id%>" class="list-group-item" method="POST">
            <h2><%=x.name%></h2><br/>
            <% x.grouped_users.each do |u| %>
              <%= u.name %> 
            <% end %>
          </form>
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="newEventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form role="form" action="/time/save">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">새로운 일정</h4>
        </div>
        <div class="modal-body">
          <input type="text" name="content" placeholder="일정 이름"></input>
          <input type="hidden" id="newEventBegins" name="begins" ></input>
          <input type="hidden" id="newEventEnds" name="ends" ></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary" >일정 추가</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  var newEvent = null;
  $(document).ready(function() {
    $("[id^='calendar']").each(function (i, el) {
      $(el).fullCalendar({
        defaultView: 'agendaWeek',
        allDaySlot: false,
        slotDuration: '00:30:00',
        slotLabelFormat: 'H:mm',
        minTime: '07:00:00',
        columnFormat: 'ddd',
        editable: true,
        contentHeight: 'auto',
        header: false,
        editable: true,
        dayClick: function(date, jsEvent, view) {
          endTime = moment(date);
          endTime.hours(endTime.hours() + 1);
          openNewEventModal(date, endTime)
          events = [
            {
              title: 'test_event',
              start: date.format()
            }
          ];

          $('#calendar').fullCalendar('addEventSource', events);
        },
        eventRender: function(event, element) {
          delete_btn = "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>";
          element.append(delete_btn);
        }
      });
    });
  });

  function openNewEventModal(startTime, endTime) {
    begins = startTime.hours() * 2 + startTime.minutes() / 30;
    ends = endTime.hours() * 2 + endTime.minutes() / 30 - 1;
    $('#newEventBegins').val("" + begins);
    $('#newEventEnds').val("" + ends);

    $('#newEventModal').modal({
      show: 'true'
    }); 
  }

  function addEvent() {
    alert($('#newEventName').val());
  }
</script>
